* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grad1 {
   height: 900px;
    background-color: rgb(250, 159, 217); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(253, 165, 224), rgb(109, 227, 253));
    opacity: .7;
}

  /* Header section */

  .header{
      padding: 20px;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
  }
  .header h1 {
        font-family: 'Source Sans Pro', sans-serif;
        text-align: left;
        font-size: 3em;
        color: white;
        margin: 20px;
        padding-left: 20px;
        display: inline-block;
  }

  .header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;}
 
    header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;