* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grad1 {
  background-color: rgb(
    255,
    180,
    226
  ); 
  background-image: linear-gradient(rgb(252, 157, 219), rgb(109, 227, 253));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header section */


header {
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: #f9fdf5;
  padding-left: 30px;
}

header div {
  padding-top: 20px;
  margin-right: 30px;
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

header div ul {
  list-style-type: none;
}

header div ul li {
  display: inline-block;
  margin-left: 85px;
  padding-right: 20px;
}
header div ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* 'Source Sans Pro', sans-serif; */

/* hero image section */

.hero {
  display: flex;
  width: 100%;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.hero img {
  height: 200px;
  margin-left: 70px;
}
.intro {
  width: 100%;
  text-align: left;
  justify-content: flex-end;
  margin: 5%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.2;
}

/*project section below*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 40px;
  justify-content: center;
}

.projects {
  margin: 20px;
}
.projects article {
  justify-content: center;
}

.projects img {
  width: 100%;
  border: solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(155, 154, 154);
}

.projects p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 35px;
}
footer h2 {
  color: rgb(254, 159, 221);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.flex-container div:first-of-type {
  width: 350px;
  height: 350px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* this will be applied on any screen smaller than 980px */

@media screen and (max-width: 980px) {
    #grad1 {
        background-image: linear-gradient(green, yellow)
    }
    
    
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2,
    footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta,
    .hero-form {
      width: 100%;
    }
  
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
  
    .trainer {
      flex: 0 70%;
    }
  
    .contact-info iframe {
      flex: 1 100%;
    }
  }
  