* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grad1 {
  background-color: rgb(
    255,
    180,
    226
  ); 
  background-image: linear-gradient(rgb(252, 157, 219), rgb(109, 227, 253));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header section */


header {
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: #f9fdf5;
  padding-left: 30px;
}

header nav {
  padding-top: 20px;
  margin-right: 30px;
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 85px;
  padding-right: 20px;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* 'Source Sans Pro', sans-serif; */

/* hero image section */

.hero {
  display: flex;
  width: 100%;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.hero img {
  height: 200px;
  margin-left: 70px;
}
.intro {
  width: 100%;
  text-align: left;
  justify-content: flex-end;
  margin: 5%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.2;
}

/*project section below*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 40px;
  justify-content: center;
}

.projects {
    margin: 20px
}

.projects img {
  width: 100%;
  border: solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(155, 154, 154);
}

/* end difficult project area*/

.projects p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 35px;
}
footer h2 {
  color: rgb(254, 159, 221);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* this will be applied on any screen smaller than 980px */

@media screen and (max-width: 980px) {
    #grad1 {
        background-image: linear-gradient(green, yellow)
    }
    
    
      
    header {
        height: 180px;
        width: 100%;
    }

    header h1 {
        padding-top: 30px;
        font-size: 70px;
        line-height: .8;
    }
    
    header nav ul {
        font-size: 12px;
        display:flex;
        flex-direction: row;
        align-content: right;
        width: auto;
        padding-right: 20px;
     }
    
    header nav ul li a {
      font-size: 30px;
    }

    .hero img {
        height: 160px
    }

    .intro {
        font-size: 20px; 
    }

    footer {
        justify-content: center;
    }
    footer h2{
        font-size:30px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

     #grad1 {
            background-image: linear-gradient(rgb(252, 157, 219), rgb(109, 227, 253));
     }
     .flex-container {
        display: flex;
        
        flex-wrap: wrap;
        padding: 0px 40px;
        justify-content: space-evenly;
      }
      
      .projects {
          margin: 20px
      }
      
      .projects img {
        width: 100%;
        border: solid white;
        border-radius: 10px;
        box-shadow: 10px 10px 5px rgb(155, 154, 154);
      }
      }

     header nav ul {
        font-size: 12px;
        display:flex;
        flex-direction: row;
        align-content: right;
        width: auto;
        padding-right: 20px;
     }
     header nav ul li a {
        font-size: 26px;
      }
      .hero {
        display: flex;
        width: 100%;
        color: white;
        font-family: "Source Sans Pro", sans-serif;
      }
      .hero img {
        height: 150px;
        margin-left: 40px;
      }
      .intro {
          font-size: 10
      }



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){

    #grad1 {
        background-image: linear-gradient(green, yellow)
    }

    header nav ul {
        font-size: 12px;
        display:flex;
        flex-direction: row;
        align-content: right;
        width: auto;
    }

    .intro {
        font-size: 20px; 
    }

    .hero {
        display: flex;
        width: 550px;
        color: white;
        font-family: "Source Sans Pro", sans-serif;
        align-items: space-between;
      }
      .hero img {
        height: 100px;
        margin-left: 40px;
      }

}
